In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./Train.csv')

In [18]:
df.describe() # we come to know that the data is already normalized

,feature_1,feature_2,feature_3,feature_4,feature_5,target
count,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000
mean,0.004114,-0.027604,-0.044459,-0.042408,0.012005,0.318835
std,0.997338,1.021776,1.011768,1.017189,0.978654,110.741562
min,-3.380125,-3.314844,-3.153118,-3.250169,-2.851707,-379.829794
25%,-0.647165,-0.705030,-0.706385,-0.709504,-0.615880,-71.897040
50%,-0.000360,-0.043769,-0.041272,-0.029756,-0.013527,-0.610665
75%,0.682118,0.645442,0.639130,0.646290,0.650089,71.226603
max,3.287205,3.438895,3.216176,2.985410,3.321770,337.643014

In [5]:
data = df.values

In [6]:
X = data[:,:-1]
Y = data[:,-1]

In [7]:
X.shape

(1600, 5)

In [9]:
Y.shape

(1600,)

In [10]:
# We are going to implement a Locally Weighted Regression

In [24]:
def getW(xq,X,tau):
    m = X.shape[0]
    W = np.eye(m)
    for i in range(m):
        W[i,i] = np.exp(np.dot((X[i]-xq),(X[i]-xq).T)/(-2*tau*tau))
    
    return W

In [111]:
def prediction(X,Y,xq,tau):
    ones = np.ones((X.shape[0],1))
    X_ = np.hstack((X,ones))

    W = getW(xq,X_,tau)
    W = np.mat(W)
    
    theta = np.linalg.pinv(X_.T*(W*X_))*(X_.T*(W*Y.reshape((-1,1))))
    
    pred = xq*theta
    
    return pred[0,0]

In [49]:
test = pd.read_csv('./Test.csv')

In [50]:
test.describe() # already normalized

        feature_1   feature_2   feature_3   feature_4   feature_5
count  400.000000  400.000000  400.000000  400.000000  400.000000
mean    -0.021804   -0.012806   -0.010988   -0.034864    0.031016
std      0.979163    1.021580    1.041857    1.034507    0.937469
min     -2.564288   -2.992849   -2.767818   -3.041550   -2.493446
25%     -0.784581   -0.640843   -0.780267   -0.730596   -0.589199
50%     -0.004759   -0.077186   -0.109300   -0.040752    0.047327
75%      0.681777    0.738286    0.754063    0.656363    0.586405
max      3.244870    2.591723    2.909357    2.662180    2.870382

In [51]:
test = test.values

In [52]:
test.shape

(400, 5)

In [53]:
m = test.shape[0]
ones = np.ones((m,1))
test = np.concatenate((test,ones),axis=1)

In [61]:
test[0].shape

(6,)

In [180]:
predictions = []
for xq in test:
    p = prediction(X,Y,xq,0.40)
    
    predictions.append(p)

In [181]:
predictions = np.array(predictions)

In [182]:
sub = pd.DataFrame(predictions)

In [183]:
sub.columns = ['target']

In [184]:
sub

         target
0     65.189663
1    110.108774
2    -20.093308
3    -21.651114
4    -87.343476
..          ...
395  -73.717872
396 -178.675883
397  128.393876
398   61.731251
399   50.630742

[400 rows x 1 columns]

In [185]:
sub.to_csv('./submission.csv',index=True,index_label='Id')

In [186]:
#95% accuracy -> R2 Score